.explore-nearby {
    padding: 0 120px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.sub-heading {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
    line-height: 52px
}

.explore-citys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    
}

.explore-citys img{
    width: 64px;
    height: 64px;
    border-radius: 5px;
}

.city-name a,
.city-name a:hover {
    display: flex;
    text-decoration: none;
    color: black;
}

.city-name a div {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.help-search {
    position: relative;
}

.help-search img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    min-width: max-content;
}

.help-search-btn {
    width: 400px;
    position: absolute;
    top: 100px;
    padding: 0 80px;
}
.help-search-btn h2 {
    font-size: 48px;
    line-height: 52px;
    font-weight: 600;
    margin-bottom: 70px;
}

.help-search-btn button {
    padding: 14px 24px;
    border: 0;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


