.olympic-section-title {
    margin-bottom: 15px;
}
.collection {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    position: relative;
    transition: left .5s ease-in-out;
}

.theme {
    width: 590px;
    height: 330px;
    margin: 0 10px 0 0;
    border-radius: 10px;
    color: white;
    position: relative;
}

.theme-olympic {
    background-image: url(/Airbnb-frontend-clone/assets/img/theme/theme-olympic.jpg);
    background-position: center;
    background-size: cover;
}

.theme-japan {
    background-image: url(/Airbnb-frontend-clone/assets/img/theme/theme-japan.jpg);
    background-position: center;
    background-size: cover;
}

.theme-popular {
    background-image: url(/Airbnb-frontend-clone/assets/img/theme/theme-popular.jpg);
    background-position: center;
    background-size: cover;
}

.theme-travel {
    background-image: url(/Airbnb-frontend-clone/assets/img/theme/theme-travel.jpg);
    background-position: center;
    background-size: cover;
}


.theme-teamWork {
    background-image: url(/Airbnb-frontend-clone/assets/img/theme/theme-teamWork.jpg);
    background-position: center;
    background-size: cover;
}

.theme-hosting {
    background-image: url(/Airbnb-frontend-clone/assets/img/theme/theme-hosting.jpg);
    background-position: center;
    background-size: cover;
}

.theme-family {
    background-image: url(/Airbnb-frontend-clone/assets/img/theme/theme-family.jpg);
    background-position: center;
    background-size: cover;
}

.theme-knowledge {
    background-image: url(/Airbnb-frontend-clone/assets/img/theme/theme-knowledge.jpg);
    background-position: center;
    background-size: cover;
}

.theme-btn {
    width: 235px;
    padding: 23px;
    /* position: absolute;
    display: flex;
    flex-direction: column; */
}

.theme-btn small {
    font-size: 14px;
}

.theme-btn h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.theme button {
    position: absolute;
    bottom: 27px;
    left: 25px;
    width: max-content;
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    font-size: 14px;
}