.covid-info {
    padding: 20px 80px;
    background-color: #222;
    text-align: center;
    font-size: 14px;
}

.covid-info a {
    color: #A3A3A3;
}

.covid-info a:hover {
    color: #A3A3A3CC;
}

/* ------------------------------------------ */
.home {
    height: 85vh;
    background-image: url(/Airbnb-frontend-clone/assets/img/main.jpg);
    background-size: 100%;
    background-size: cover;
    background-position: center;
}

.header-container {
    position: relative;
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.header-logo {
    flex-grow: 0.2;
}

.header-logo img {
    width: 120px;
    height: 32px;
}


.header-center {
    width: max-content;
    text-align: center;
}

.header-center button {
    margin: 0px 16px;
    padding: 10px;
    background: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    border: none;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;  
}

.header-right div {
    margin: 0 20px;
}

.profile {
    position: relative;
    display: inline-block;
}

.profile button{
    display: flex;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #777;
    cursor: pointer;
    align-items: center;
    background-color: #fff;
}

.profile button svg {
    padding: 0 6px;
    color: #717171 ;
}
.profile button svg:last-child {
    width: 28px;
    height: 28px;
}

/* ------------------------------------------ */
.home-search {
    color: black;
    font-size: 15px;
}

.home-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-search-form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 70px; 
    border: none;
    border-radius: 40px;
    background-color: white;
}

.home-search-form-item div {
    padding: 20px 20px 20px 36px;
}

.home-search-form-item label,
.home-search-form-item strong {
    display: block;
}

.home-search-form-item input {
    border: none;
}

.home-search-form-item > div > label,
.home-search-form-item > div > strong  {
    font-size: 12px;
    line-height: 16px;
    font-weight: 800;
    letter-spacing: 0.04em;
    padding-bottom: 2px;
}
.home-search-form-item > div > span {
    font-size: 14px;
    color: #777;
}

.location {
    flex-grow: 2;
}

.check-in {
    flex-grow: 1;
}

.check-out {
    flex-grow: 1;
}
.person {
    flex-grow: 1.5;
}

.search-btn {
    flex-grow: 1;
}
.search-btn button {
    background-color: #FF385C;
    border-radius: 30px;
    width: 100%;
    height: 48px;
    padding: 5px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* ------------------------------------------ */
.home-center {
    margin-top: 140px;
    color: white;
}


.home-center-heading {
    width: 450px;
}

.home-center-heading h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
}

.home-center-btn {
    margin-top: 20px;
}

.home-center button {
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 9px 16px;
    font-size: 14px;
    font-weight: 600;
}

/* Dropdown */
.profile-dropdown {
    display: none;
    background-color: white;
    border-radius: 10px;
    width: 150px;
    max-height: max-content;
    padding: 15px;
    position: absolute;
    top: 60px;
    left: -127px;
}

.dropdown-link,
.dropdown-link:hover {
    color: black;
    font-size: 14px;
}


.profile-dropdown > ul > li {
    padding: 10px 0;
}

.profile-dropdown ul li:first-child:first-child {
    font-weight: 600;
}

.hidden {
    display: block;
}

/* language Modal */
.language-select {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}