/* ----------covid-info, 최상단 코로나 info link---------- */
.covid-info {
    padding: 20px 80px;
    background-color: #222;
    text-align: center;
    font-size: 14px;
}

.covid-info a {
    color: #A3A3A3;
}

.covid-info a:hover {
    color: #A3A3A3CC;
}

/* ----------header---------- */
.home {
    height: 85vh;
    background-image: url(/Airbnb-frontend-clone/assets/img/main.jpg);
    background-size: 100%;
    background-size: cover;
    background-position: center;
}

.header-container {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.header-logo {
    flex-grow: 0.2;
}

.header-logo img {
    width: 120px;
    height: 32px;
}

.header-center {
    width: max-content;
    text-align: center;
}

.header-center button {
    margin: 0px 16px;
    padding: 10px;
    background: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    border: none;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;  
}

.header-right div {
    padding: 0 20px;
}

/* ----------profile---------- */
.profile {
    position: relative;
    display: inline-block;
}

.profile button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #777;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.profile button i {
    padding: 0 6px;
    color: #717171 ;
}


/* ----------profile dropdown ----------*/
.profile-dropdown {
    background-color: white;
    border-radius: 10px;
    width: 150px;
    max-height: max-content;
    padding: 15px;
    position: absolute;
    top: 60px;
    left: -85px;
    z-index: 9;
}

.dropdown-link,
.dropdown-link:hover {
    color: black;
    font-size: 14px;
}

.profile-dropdown > ul > li {
    padding: 10px 0;
}

.profile-dropdown ul li:first-child:first-child {
    font-weight: 600;
}

.hidden {
    display: none;
}

/* ----------home search----------*/
.home-search {
    color: black;
    font-size: 15px;
}

.home-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 70px; 
    border: none;
    border-radius: 40px;
    background-color: white;
    position: relative;
}

.home-padding  {
    padding: 20px 20px 20px 36px;
}

.search-form-item label,
.search-form-item strong {
    display: block;
}

.search-form-item input {
    border: none;
}

.search-form-item > div > label,
.search-form-item > div > strong  {
    font-size: 12px;
    line-height: 16px;
    font-weight: 800;
    letter-spacing: 0.04em;
    padding-bottom: 2px;
}

.search-form-item > div > span {
    font-size: 14px;
    color: #777;
}

.location,
.check-in,
.check-out,
.person,
.search-btn {
    cursor: pointer;

}

.location {
    flex-grow: 2;
}

.check-in {
    flex-grow: 1;
}

.check-out {
    flex-grow: 1;
}
.person {
    flex-grow: 1.5;
}

.search-btn {
    flex-grow: 1;
}
.search-btn button {
    background-color: #FF385C;
    border-radius: 30px;
    width: 100%;
    height: 48px;
    padding: 5px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* ----------인원 count----------*/
.search-form-item .person-detail {
    position: absolute;
    top: 80px;
    right: 30px;
    width: 395px;
    height: 245px;
    background-color: #fff;
    border-radius: 20px;   
}

.person-detail-container {
    padding: 25px 35px;
}
.person-detail-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.person-detail-item {    
    margin-bottom: 30px;
}

.person-count {
    display: flex;
    align-items: center;
}

.person-count button,
.person-count div {
    margin: 0 10px;
}

.person-detail-item .person-count .person-minus {
    cursor: not-allowed;
}

.person-count button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DEDEDE;
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 26px;
    cursor: pointer;
}

.person-detail-item > div:first-child > span {
    line-height: 26px;
    font-size: 14px;
    color: rgb(113, 113, 113);
}

.person-detail-item > div:first-child > strong {
    font-size: 16px;
    font-weight: 600;
} 

.person-num {
    width: 15px;
    text-align: center;
} 


/* ----------home-center----------*/
.home-center {
    padding: 140px 0;
    color: white;
    display: flex;
    flex-direction: column;
}

.home-center-heading {
    width: 450px;
}

.home-center-heading h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
}

.home-center-btn {
    margin-top: 20px;
}

.home-center button {
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 9px 16px;
    font-size: 14px;
    font-weight: 600;
}

/* ----------language Modal----------*/
.language-select {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}





/* --check plz-- */

/* Sticky navi */
.fix {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    height: 60px;
    align-items: center;
    z-index: 1;
    padding: 10px; 
}
.fix div button,
.fix div a {
    color: black;
}

.visibility-hidden {
    visibility: hidden;   
}

.fix .header-logo {
    padding-left: 120px;
}
.fix .header-logo img {
    width: 133px;
    height: 50px;
}

.fix .header-right {
    padding-right: 120px;
}

.fix-hidden {
    display: none;
}

.header-center-fix > button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
    border: 1px solid #777;
    border-radius: 50px;
    background-color: white;
}

.header-center-fix > button div:first-child{
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
}

.header-center-fix > button div:last-child{
    background-color: #FF385C;
    border-radius: 30px;
    margin-right: 4px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#search-hidden {
    padding: 0;
    margin-left: 11px;
}